.e
{
    border:none;
    /*border-bottom: 1px solid black;*/
}
.i
{
    border:none;
    /*border-bottom: 1px solid black;*/
}
.f
{
    border:none;

}
.g
{
    border:none;
    /*width:400px;*/
    /*border-bottom: 1px solid black;*/

}
section
{
    margin-top:5px;
    margin-left:790px;
}
