.e
{
    border:none;
    border-bottom: 1px solid black;
}
.f
{
    border:none;
    width:135px;
    border-bottom: 1px solid black;
}
.g
{
    border:none;
    width:400px;
    border-bottom: 1px solid black;

}
